h1,
.h1 {
  font-size: 40px;
  @apply font-bold text-black dark:text-white;
}
h2,
.h2 {
  font-size: 32px;
  @apply font-bold text-black dark:text-white;
}
h3,
.h3 {
  font-size: 28px;
  @apply font-bold text-black dark:text-white;
}
h4,
.h4 {
  font-size: 24px;
  @apply font-bold text-black dark:text-white;
}
h5,
.h5 {
  font-size: 20px;
  @apply font-bold text-black dark:text-white;
}
h6,
.h6 {
  font-size: 16px;
  @apply font-bold text-black dark:text-white;
}
