.vscode
.env

# Jan inference
models/**
error.log
node_modules
package-lock.json
*.tgz
yarn.lock
dist
build
.DS_Store
electron/renderer


# Nitro
electron/core/plugins/nitro-plugin/nitro
electron/core/plugins/nitro-plugin/uploads
electron/core/plugins/nitro-plugin/*.log