.breadcrumbs {
  @apply mb-8;

  &__item {
    position: relative;
    &:first-child {
      .breadcrumbs__link {
        vertical-align: middle;
        margin-top: -2px;
      }
    }
  }

  &__link {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
