// * Classname from Docusaurus template
// * We just overide the styling with applied class from tailwind

[class*='docSidebarContainer_'] {
  margin-top: 0 !important;
  @apply dark:border-gray-800 border-gray-300;
}

[class*='sidebar_'] {
  padding-top: 0px !important;
}

.navbar-sidebar__back {
  padding-top: 20px !important;
}

[class*='sidebarViewport_'] {
  top: 80px !important;
  // height: unset !important;
}

[class*='docItemCol_'] {
  @apply lg:px-8;
}

// * Including custom sidebar table of content
.table-of-contents {
  @apply text-sm py-0 dark:border-gray-800 border-gray-300;
}

.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

[class*='codeBlockContainer_'] {
  margin: 4px;
}

[class*='codeBlockTitle_'] {
  border-bottom: 1px solid #52525a !important;
}

[class*='iconExternalLink_'] {
  display: none;
}

[class*='docMainContainer'] {
  @media (min-width: 1440px) {
    .container {
      max-width: var(--ifm-container-width-xl);
    }
  }
}
