.hljs-comment,
.hljs-quote {
  color: var(--hljs-comment);
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: var(--hljs-variable);
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: var(--hljs-number);
}

/* Yellow */
.hljs-attribute {
  color: var(--hljs-attribute);
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: var(--hljs-string);
}

/* Blue */
.hljs-title,
.hljs-section {
  color: var(--hljs-title);
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: var(--hljs-keyword);
}

.hljs {
  overflow: auto;
  display: block;
  width: auto;
  background: hsla(var(--app-code-block));
  color: #f8f8f2;
  padding: 16px;
  font-size: 14px;
  word-wrap: normal;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  white-space: normal;
}
pre > code {
  display: block;
  text-indent: 0;
  white-space: pre;
  max-width: 10vw;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
    color: highlight;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    font-weight: bold;
  }
}

/* Add this CSS for typing animation */
.typing-text {
  display: inline-block;
  white-space: nowrap;
  border-right: 2px solid transparent; /* Cursor */
  animation:
    typing 3s steps(30) 1s forwards,
    blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
