.message {
  white-space: pre-line;
  font-size: 16px;
  ul,
  ol {
    list-style: auto;
    padding-left: 24px;
    white-space: normal;
  }

  a {
    color: hsla(var(--text-link));
    &:hover {
      @apply underline;
    }
  }
}

.code-block {
  white-space: normal;
}

pre {
  max-width: 95vw;
}
