.message {
  white-space: pre-line;
  word-break: break-word;
  font-size: 16px;
  ul,
  ol {
    list-style: auto;
    padding-left: 16px;
    white-space: normal;
    list-style-position: inside;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  a {
    color: hsla(var(--app-link));
    &:hover {
      @apply underline;
    }
  }

  blockquote {
    @apply inline-flex flex-col border-s-4 border-[hsla(var(--primary-bg))] bg-[hsla(var(--primary-bg-soft))] px-4 py-2;
  }

  .markdown-content pre {
    margin-top: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}
