/* Studio Feixen Sans */
@font-face {
  font-family: 'StudioFeixenSans';
  font-display: swap;
  src: url('/fonts/StudioFeixenSans-Ultralight.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'StudioFeixenSans';
  font-display: swap;
  src: url('/fonts/StudioFeixenSans-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'StudioFeixenSans';
  font-display: swap;
  src: url('/fonts/StudioFeixenSans-Book.otf') format('opentype');
  font-weight: 350;
}

@font-face {
  font-family: 'StudioFeixenSans';
  font-display: swap;
  src: url('/fonts/StudioFeixenSans-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'StudioFeixenSans';
  font-display: swap;
  src: url('/fonts/StudioFeixenSans-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'StudioFeixenSans';
  font-display: swap;
  src: url('/fonts/StudioFeixenSans-Semibold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'StudioFeixenSans';
  font-display: swap;
  src: url('/fonts/StudioFeixenSans-Bold.otf') format('opentype');
  font-weight: 700;
}
