/* Hide descriptions in cards without a description */
.DocCardList--no-description .card p {
  display: none;
}

/* For dark theme */
[data-theme='dark'] .DocSearch {
  --docsearch-hit-active-color: #090a11; /* Keep the color unchanged */
}
/* Sidebar styles based on Docusaurus light theme */
[data-theme='light'] .head_Menu div {
  font-weight: bold;
  background-color: var(--ifm-background-color);
  margin-left: 0.7rem;
  font-size: larger;
  color: var(--ifm-font-color-base);
}

[data-theme='light'] .head_Menu li {
  font-weight: normal;
  background-color: var(--ifm-background-color);
  margin-bottom: 5px;
  color: var(--ifm-font-color-base);
}

[data-theme='light'] .head_SubMenu div {
  font-weight: normal;
  background-color: var(--ifm-background-color);
  margin-left: 0rem;
  font-size: medium;
  color: var(--ifm-font-color-base);
}

/* Dark mode styles based on Docusaurus dark theme */
[data-theme='dark'] .head_Menu div {
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
}

[data-theme='dark'] .head_Menu li {
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
}

[data-theme='dark'] .head_SubMenu div {
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
}
