@layer base {
  img {
    pointer-events: none;
  }

  svg {
    stroke-width: 1.5;
  }

  .title-bar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 32px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    // @apply bg-white;
    // @apply dark:bg-gray-950/50;
  }

  .unset-drag {
    -webkit-app-region: no-drag;
  }

  :root {
    --background: 0 0% 100%;
    --background-reverse: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    // --foreground: 240 10% 3.9%;
    // --card: 0 0% 100%;
    // --card-foreground: 240 10% 3.9%;
    // --popover: 0 0% 100%;
    // --popover-foreground: 240 10% 3.9%;
    // --primary: 240 5.9% 10%;
    // --primary-foreground: 0 0% 98%;
    // --secondary: 240 4.8% 95.9%;
    // --secondary-foreground: 240 5.9% 10%;
    // --muted: 240 4.8% 95.9%;
    // --muted-foreground: 240 3.8% 46.1%;
    --accent: 217.2 91.2% 59.8%;
    // --accent-foreground: 240 5.9% 10%;
    // --destructive: 0 84.2% 60.2%;
    // --destructive-foreground: 0 0% 98%;
    // --input: 240 5.9% 90%;
    // --ring: 240 5% 64.9%;
    // --radius: 0.5rem;

    .accent-green {
      --accent: 142 71% 45%;
    }

    .accent-red {
      --accent: 346.8 77.2% 49.8%;
    }

    .accent-orange {
      --accent: 20.5 90.2% 48.2%;
    }
  }

  .dark {
    --background: 240 10% 3.9%;
    --background-reverse: 0 0% 100%;
    --border: 240 3.7% 15.9%;
    // --foreground: 0 0% 98%;
    // --card: 240 10% 3.9%;
    // --card-foreground: 0 0% 98%;
    // --popover: 240 10% 3.9%;
    // --popover-foreground: 0 0% 98%;
    // --primary: 0 0% 98%;
    // --primary-foreground: 240 5.9% 10%;
    // --secondary: 240 3.7% 15.9%;
    // --secondary-foreground: 0 0% 98%;
    // --muted: 240 3.7% 15.9%;
    // --muted-foreground: 240 5% 64.9%;
    --accent: 217.2 91.2% 59.8%;
    // --accent-foreground: 0 0% 98%;
    // --destructive: 0 62.8% 30.6%;
    // --destructive-foreground: 0 85.7% 97.3%;
    // --input: 240 3.7% 15.9%;
    // --ring: 240 4.9% 83.9%;

    .accent-green {
      --accent: 142 71% 45%;
    }

    .accent-red {
      --accent: 346.8 77.2% 49.8%;
    }

    .accent-orange {
      --accent: 20.5 90.2% 48.2%;
    }
  }
}
