// Tailwind
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './variables.scss';
@import './global.scss';
@import './code-block.scss';
@import './loader.scss';
@import './message.scss';
