.textarea {
  background-color: hsla(var(--textarea-bg));
  border: 1px solid hsla(var(--textarea-border));
  @apply inline-flex w-full items-center rounded-md border p-3 transition-colors;
  @apply focus-within:outline-none focus-visible:outline-0 focus-visible:ring-1 focus-visible:ring-[hsla(var(--primary-bg))] focus-visible:ring-offset-0;
  @apply file:border-0 file:bg-transparent file:font-medium;
  @apply hover:border-[hsla(var(--primary-bg))];

  &__wrapper {
    position: relative;
  }

  &.text-right {
    text-align: right;
  }

  &::placeholder {
    color: hsla(var(--textarea-placeholder));
  }

  &:disabled {
    color: hsla(var(--disabled-fg));
    background-color: hsla(var(--disabled-bg));
    cursor: not-allowed;
    border: none;
  }

  &__prefix-icon {
    @apply absolute left-2 top-1/2 -translate-y-1/2;
    color: hsla(var(--textarea-icon));
    + .textarea {
      padding-left: 32px;
    }
  }
  & {
    /* Arrow mouse cursor over the scrollbar */
    cursor: auto;
  }
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border-radius: inherit;
  }
  &::-webkit-scrollbar-track {
    background: hsla(var(--scrollbar-tracker));
  }
  &::-webkit-scrollbar-thumb {
    background: hsla(var(--scrollbar-thumb));
  }
}
