html, body, #root, .App, div, span, p, input, button, textarea { font-size: 20px !important; line-height: 1.5 !important; } /* Enables zoom using Ctrl + Scroll Wheel in Electron/Tauri builds */.App { overflow: auto; }
