[Desktop Entry]
Type=Application
Name=Jan
Comment=Local AI Assistant that runs 100% offline
Exec=/app/bin/jan %U
Icon=ai.jan.Jan
StartupWMClass=jan
Categories=Utility;Education;Chat;Dictionary;
Keywords=AI;Assistant;LLM;ChatGPT;Local;Offline;
StartupNotify=true
