.input {
  @apply border-border placeholder:text-muted-foreground flex h-9 w-full rounded-lg border bg-transparent px-3 py-1 transition-colors;
  @apply disabled:text-muted-foreground disabled:cursor-not-allowed disabled:bg-zinc-100;
  @apply focus-within:outline-none focus-visible:outline-0 focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-1;
  @apply file:border-0 file:bg-transparent file:font-medium;
}
