@layer base {
  img {
    pointer-events: none;
  }

  a {
    text-decoration: underline;
  }

  .draggable-bar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    -webkit-app-region: drag;
  }

  .unset-drag {
    user-select: inherit;
    -webkit-app-region: no-drag;
    pointer-events: all; /* Ensure it receives input events */
  }

  .unselect {
    user-select: none;
  }

  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    background-color: inherit;
  }

  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border-radius: inherit;
}
::-webkit-scrollbar-track {
  background: hsla(var(--scrollbar-tracker));
}
::-webkit-scrollbar-thumb {
  background: hsla(var(--scrollbar-thumb));
  border-radius: 20px;
}
