@layer components {
  .card-link-bg {
    background: linear-gradient(180deg, #fff 0%, #fff 100%);
    box-shadow:
      0px 10px 10px -5px rgba(0, 0, 0, 0.1),
      0px 20px 25px -5px rgba(0, 0, 0, 0.1),
      0px 1px 2px 0px #f1f1f1 inset;
  }

  .card-link-bg-dark {
    background: linear-gradient(180deg, #101118 0%, #101118 100%);
    box-shadow:
      0px 10px 10px -5px rgba(0, 0, 0, 0.3),
      0px 1px 2px 0px #525154 inset;
  }
  .card {
    @apply p-8 rounded-3xl border bg-gray-100 border-gray-100 dark:border-[#202231] dark:bg-[#111217];

    &-link {
      display: inline-flex;
      padding: 8px 16px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 16px;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
