@layer components {
  .el-blur-hero {
    height: 200px;
    background: linear-gradient(
      180deg,
      hsl(296, 100%, 67%) 0%,
      hsl(253, 100%, 57%) 100%
    );
    z-index: 2;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    filter: blur(100px);
    -webkit-filter: blur(100px);
    opacity: 0.5;
  }
}
