@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: 'PPEditorialNew';
  src: url('../../public/assets/fonts/PPEditorialNew-Regular.otf')
    format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('../../public/assets/fonts/PPEditorialNew-RegularItalic.otf')
    format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('../../public/assets/fonts/PPEditorialNew-Ultrabold.otf')
    format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('../../public/assets/fonts/PPEditorialNew-UltraboldItalic.otf')
    format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('../../public/assets/fonts/PPEditorialNew-Ultralight.otf')
    format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('../../public/assets/fonts/PPEditorialNew-UltralightItalic.otf')
    format('opentype');
  font-weight: 300;
  font-style: italic;
}
