@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './general.scss';
@import './changelog.scss';
@import './fonts.scss';
@import './wall-of-love.scss';
@import './animations.css';
