.NavBar {
    height: 3rem; /* Adjust height as needed */
    background-color: #fff;
    padding: 0.5rem 0.8rem; /* Adjust padding as needed */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items to the start and end of the container */
    position: fixed; /* Fixed position to keep it on top */
    top: 55px; /* Position it at the top */
    left: 0; /* Position it at the left */
    width: 100%; /* Occupy full width of the viewport */
    z-index: 5; /* Ensure it's above other elements */
}

@media screen and (max-width: 768px) {
    .NavBar {
        display: none; /* Hide the NavBar on mobile devices */
    }
}
