.NavPageContainer {
    margin-right: auto;
    display: flex;
    align-items: right;
  }
  
  .NavPageItem {
    margin: 0 30px;
    font-size: 16px;
    font-weight: normal;
    color: #262a2f;
    cursor: pointer;
    text-decoration: none;
  }