NEXT_PUBLIC_ENV=development
NEXT_PUBLIC_WEB_URL=
NEXT_PUBLIC_DISCORD_INVITATION_URL=
NEXT_PUBLIC_DOWNLOAD_APP_IOS=
NEXT_PUBLIC_DOWNLOAD_APP_ANDROID=
NEXT_PUBLIC_GRAPHQL_ENGINE_URL=
NEXT_PUBLIC_GRAPHQL_ENGINE_WEB_SOCKET_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
AUTH_ISSUER=
NEXTAUTH_URL=
NEXTAUTH_SECRET=
END_SESSION_URL=
REFRESH_TOKEN_URL=
// For codegen only
HASURA_ADMIN_TOKEN=
NEXT_PUBLIC_OPENAPI_ENDPOINT=